<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules> 
			    <!-- 资讯类详细页面 -->
                <rule name="rule1" stopProcessing="true">
                    <match url="^article/([0-9]+).html$" />
                    <action type="Rewrite" url="index.php?g=portal&amp;m=article&amp;a=index&amp;id={R:1}" />
                </rule>
				<rule name="rule21" stopProcessing="true">
                    <match url="^article/([0-9]+)/([A-Za-z0-9-]*)/([A-Za-z0-9-]*).html$" />
                    <action type="Rewrite" url="index.php?g=portal&amp;m=article&amp;a=index&amp;id={R:1}&amp;{R:2}={R:3}" />
                </rule>
				
 
				
				<!-- 单页 -->
				<rule name="rule2" stopProcessing="true">
                    <match url="^page/([0-9]+).html$" />
                    <action type="Rewrite" url="index.php?g=portal&amp;m=page&amp;a=index&amp;id={R:1}" />
                </rule>
				
				<!-- 列表页面 -->
				<rule name="rule3" stopProcessing="true">
                    <match url="^list/([0-9]+).html$" />
                    <action type="Rewrite" url="index.php?g=portal&amp;m=list&amp;a=index&amp;id={R:1}" />
                </rule>
 
				
				<!-- 列表页面 -->
				<rule name="rule23" stopProcessing="true">
                    <match url="^list/([0-9]+)/p/([0-9]+).html$" />
                    <action type="Rewrite" url="index.php?g=portal&amp;m=list&amp;a=index&amp;id={R:1}&amp;p={R:2}" />
                </rule>
				
				<!-- 服务项目详细 -->
				<rule name="rule4" stopProcessing="true">
                    <match url="^fuwu/([0-9]+).html$" />
                    <action type="Rewrite" url="index.php?g=portal&amp;m=product&amp;a=index&amp;id={R:1}" />
                </rule>
			 
				 
				
				 
				<!-- 后台管理 -->
				<rule name="rule16" stopProcessing="true">
                    <match url="^admin/([A-Za-z0-9-]*)/([A-Za-z0-9-]*)/id/([0-9]+).html$" />
                    <action type="Rewrite" url="index.php?g=admin&amp;m={R:1}&amp;a={R:2}&amp;id={R:3}" />
                </rule>
				<!-- 后台管理 -->
				<rule name="rule17" stopProcessing="true">
                    <match url="^admin/([A-Za-z0-9-]*)/([A-Za-z0-9-]*).html$" />
                    <action type="Rewrite" url="index.php?g=admin&amp;m={R:1}&amp;a={R:2}" />
                </rule> 
				<rule name="rule1x7" stopProcessing="true">
                    <match url="^portal/admin_client/index/menuid/([A-Za-z0-9-]*)/p/([A-Za-z0-9-]*).html$" />
                    <action type="Rewrite" url="index.php?g=portal&amp;m=admin_client&amp;a=index&amp;menuid={R:1}&amp;p={R:2}" />
                </rule> 
				
				<rule name="rule18" stopProcessing="true">
                    <match url="^portal/admin_product/index/p/([A-Za-z0-9-]*).html$" />
                    <action type="Rewrite" url="index.php?g=portal&amp;m=adminProduct&amp;a=index&amp;p={R:1}" />
                </rule>   
				 
				<rule name="rule19" stopProcessing="true">
                    <match url="^portal/admin_product/index/menuid/([A-Za-z0-9-]*)/p/([A-Za-z0-9-]*).html$" />
                    <action type="Rewrite" url="index.php?g=portal&amp;m=adminProduct&amp;a=index&amp;menuid={R:1}&amp;p={R:2}" />											  
                </rule>
				
				<rule name="rule20" stopProcessing="true">
                    <match url="^portal/admin_post/index/menuid/([A-Za-z0-9-]*)/p/([A-Za-z0-9-]*).html$" />
                    <action type="Rewrite" url="index.php?g=portal&amp;m=adminPost&amp;a=index&amp;menuid={R:1}&amp;p={R:2}" />					  
                </rule>
				
				<rule name="rule220" stopProcessing="true">
                    <match url="^portal/admin_post/index/menuid/([A-Za-z0-9-]*)/p/([A-Za-z0-9-]*)/term/([A-Za-z0-9-]*).html$" />
                    <action type="Rewrite" url="index.php?g=portal&amp;m=adminPost&amp;a=index&amp;menuid={R:1}&amp;p={R:2}&amp;term={R:3}" />					  
                </rule>
                
                <rule name="rule2110" stopProcessing="true">
                    <match url="^portal/admin_post/index/p/([A-Za-z0-9-]*)/term/([A-Za-z0-9-]*).html$" />
                    <action type="Rewrite" url="index.php?g=portal&amp;m=adminPost&amp;a=index&amp;p={R:1}&amp;term={R:2}" />					  
                </rule>
				
				<rule name="rule230" stopProcessing="true">
                    <match url="^api/guestbookadmin/index/menuid/([0-9]+)/p/([0-9]+).html$" />
                    <action type="Rewrite" url="index.php?g=api&amp;m=guestbookadmin&amp;a=index&amp;menuid={R:1}&amp;p={R:2}" />					  
                </rule>
				
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".f4v" mimeType="video/f4v" />
        </staticContent>
    </system.webServer> 	
</configuration>
