
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1473038342'); /* IE9*/
  src: url('iconfont.eot?t=1473038342#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1473038342') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1473038342') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1473038342#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fangzi:before { content: "\e605"; }
.icon-laodong:before { content: "\e60a"; }
.icon-gengduo:before { content: "\e60b"; }
.icon-sousuo:before { content: "\e60c"; }
.icon-QQ:before { content: "\e61b"; }
.icon-office:before { content: "\e60e"; }
.icon-dianhua:before { content: "\e60f"; }
.icon-shijian:before { content: "\e606"; }
.icon-zhaiquan:before { content: "\e600"; }
.icon-xingzheng:before { content: "\e619"; }
.icon-hotline:before { content: "\e607"; }
.icon-wenhao:before { content: "\e610"; }
.icon-xiala:before { content: "\e617"; }
.icon-z046:before { content: "\e618"; }
.icon-zhaiquan1:before { content: "\e611"; }
.icon-iconjiaotongshigu:before { content: "\e612"; }
.icon-dibiao:before { content: "\e613"; }
.icon-49jiantouyoubian:before { content: "\e614"; }
.icon-youbian:before { content: "\e608"; }
.icon-zuobian:before { content: "\e609"; }
.icon-guwen:before { content: "\e61a"; }
.icon-zelvxingshianjian:before { content: "\e601"; }
.icon-anquanshezhi:before { content: "\e615"; }
.icon-hetong:before { content: "\e616"; }
.icon-baoxian:before { content: "\e602"; }
.icon-hunyin:before { content: "\e603"; }
.icon-gongshang:before { content: "\e604"; }
